@use 'sass:math';


@function toRem($value, $base: $font-size){
  @return math.div($value, $base) * 1rem;
}
$font-size:16px;
$navbar-bg-color: #212529;

$cart-color: white;
$card-bg-color:white;
$font-nav-color:white;

