@import "partials/variables";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}
i {
  cursor: pointer;
}
a {
  color: $font-nav-color;
  text-decoration: none;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $navbar-bg-color ;
  color: $font-nav-color;
  padding: toRem(25px) toRem(60px);
  margin-bottom: toRem(30px);
  &__cart{
    position: relative;
    background-color: $cart-color;
    border-radius: toRem(4px);
    font-size: $font-size * 2;
    color: $navbar-bg-color;
    padding: toRem(5px);
  }
}

.cartAmount{
  position: absolute;
  top:-15px;
  right: -10px;
  font-size: 16px;
  background-color: red;
  color: $font-nav-color;
  padding: 3px;
  border-radius: 3px;
}

.shop{
  display: grid;
  grid-template-columns: repeat(4, 223px);
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
  &__item{
    border: 2px solid black;
    border-radius: 5px;
    img{
      width: 100% ;
      border-radius: 2px 2px 0 0;
    }
    &__details{
      display: flex;
      flex-direction: column;
      padding: 10px;
      gap:10px;
    }
  }
}


.price-quantity{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.buttons{
  display: flex;
  gap: 8px;
  font-size: $font-size;
}

.bi-dash-lg{
  color: red;
}

.bi-plus-lg{
  color:green;
}

.text-center{
  text-align: center;
  margin-bottom: toRem(20px);
}

.HomeBtn, .checkout, .removeAll
{
  background-color:$navbar-bg-color ;
  color: $font-nav-color;
  border: none;
  padding: toRem(6px);
  border-radius: toRem(3px);
  cursor: pointer;
  margin-top: toRem(10px) ;
}
.checkout{
  background-color: green;
}

.removeAll{
  background-color: red;
}

.bi-x-lg{
  color: red;
  font-weight: bold;
}

.shopping-cart{
  display: grid;
  grid-template-columns: repeat(1, 320px);
  justify-content: center;
  gap: toRem(15px);
}

.cart-item{
  border: toRem(2px) solid $navbar-bg-color;
  border-radius: toRem(5px);
  display: flex;
}
.title-price-x{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: toRem(195px);
}

.title-price{
  display: flex;
  align-items: center;
  gap: toRem(10px);
}

.cart-item-price{
  background-color: $navbar-bg-color;
  color: $font-nav-color;
  border-radius: toRem(4px);
  padding: 3px 6px;
}

.details{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap:10px;
}



@media (max-width: 1000px ) {
  .shop{
    grid-template-columns: repeat(2, 223px);
  }
}

@media (max-width: 500px ) {
  .shop{
    grid-template-columns: repeat(1, 223px);
  }
}